### JetBrains template
# Covers JetBrains IDEs
*.iml
.idea/
build/
out/
logs/
.idea_modules/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar
.gradle/

gradle.properties
!gradle/wrapper/gradle-wrapper.jar
